
html {
    height: 100%;
    background-image: url(img/background_logo.png), -webkit-linear-gradient(#888888, #cccccc); /* Chrome, Safari */
    background-image: url(img/background_logo.png), -moz-linear-gradient(#888888, #cccccc); /* Firefox */
    background-image: url(img/background_logo.png), -o-linear-gradient(#888888, #cccccc); /* Opera */
    background-image: url(img/background_logo.png), linear-gradient(#888888, #cccccc); /* Chrome, Safari */
    background-repeat: no-repeat;
    background-position: center;
}

body {
    width: 65%;
    text-align: center;
    margin-top: 2%;
    font-family: Tahoma, Geneva, sans-serif;
};


#header {
    display: inline-block;
}

nav {
    display: inline-block;
    background-color: rgba(31, 34, 195, 0.6);
    text-align: left;
    width: 30%;
}

nav a {
    display: inline-block;
    color: white;
    padding: 4%;
    background-color: rgba(31, 34, 195, 0);
    text-decoration: none;
}

nav a:hover {
    background-color: rgba(185, 195, 255, 1);
}

#wrapper {
    display: inline-block;
    text-align: center;
    background-color: rgba(255,255,255,0.3);
    margin-left: 30%;
    width: 90%;
}

.expandible {
    text-align: left;
    background-color: rgba(255,255,255,0.6);
    border: solid 1px #555555;
    padding: 2%;
    cursor: pointer;
}

.form {
    text-align: left;
    margin: 2%;
    display: none;
}


.result {
    text-align: center;
    margin: 2%;
    display: none;
}

.score {
    background-color: #eeeeee;
}

.int {
    color: green;
    font-size: 26px;
    vertical-align: text-bottom;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.dec {
    color: green;
    font-size: 15px;
    vertical-align: text-bottom;
    margin: 0px;
    border: 0px;
    padding: 0px;
}